@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.message {
    font-family: 'Montserrat', sans-serif;
    width: 575px;
    margin-left: auto;
    margin-right: 70px;;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.text {
    border-radius: 5px 5px 0 5px;
    padding: 8px 13px;
    background: #0066CC;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.angle {
    border: 7px solid transparent;
    border-bottom: 7px solid #0066CC;
    border-left: 7px solid #0066CC;
}

.text:after {

}

.name {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
}

.time {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 10px;
}