.select {
    width: 180px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    padding:2px 10px 5px 10px;
}

.select:focus {
}


.option:hover {

}
